.lista{
    width: 70%;
    margin: 0 auto;
}

.lista ul {
    padding: 0;
}
.lista .item {
    padding: 10px;
    margin: 10px 0;
    list-style: none;
}

.lista .item:nth-child(odd) {
    background-color: #ccc;
}