.item-list {
  .item {
    list-style: none;
    transition: .5s ease;
    .item-box {
      background: #ccc;
      box-sizing: border-box;
      padding: (10em/16);
    }

    button{
      margin: 0 auto;
      display: table;
      padding: (10em/16);
      border-radius: (5em/16);
      border: none;
      transition: all .2s ease-in;
      background: goldenrod;

      &:hover{
        background: darkolivegreen;
        cursor: pointer;
        color: #ffffff;
      }
    }

    &:hover{
      transform : scale(1.1);
    }
  }
}

.item-list-wrapper{
  .item-list{
    background: moccasin;
    padding: (30em/16);
  }
}

.item-added {
  .item{
    margin-right: (30em/16);
  }
}

.loading {
  font: {
    size: (32em/16);
  };
  text: {
    align: center;
  };
}

.amount{
  text:{
    align: center;
  }
  font:{
    size:(32em/16)
  }
  padding: (20em/32);

  border-radius: (20em/16);
  background: green;
  color: #fff;
}
